@model BookstoreApplication.Models.Magazines

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Magazines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publishdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimensions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publishers.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishers.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Magazineid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
