@model IEnumerable<BookstoreApplication.Models.Magazines>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publishdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Languages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dimensions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publishers.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publishdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Languages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimensions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authors.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publishers.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Magazineid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Magazineid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Magazineid })
        </td>
    </tr>
}

</table>
